<% 
  const { 
    baseInfo,
    workings,
    internship,
    skills,
    selfProjects
  } = require('../resume.config.js')
%>

<div  class="resume-main flex justify-center items-start w-full h-full sm:py-12 bg-gray-100 bg-backgrondimg dark:bg-gray-600 dark:bg-dark-backgrondimg relative">
  <%- require('./layouts/components/mobileControls.ejs')({}) %>
  <div id="print-content" class="resume-content flex flex-col justify-start items-center rounded-md overflow-hidden shadow-md">
    <%- require('./layouts/header.ejs')({baseInfo}) %>
    <div class="resume-body dark:bg-gray-700 bg-white flex flex-col sm:flex-row print:flex-row flex-1 w-full px-8">
      <div class="section-col flex flex-col items-start w-full print:block sm:w-1/2 print:w-1/2">
        <%- require('./layouts/workingExp.ejs')({workings}) %>
        <%- require('./layouts/internshipExp.ejs')({internship}) %>
      </div>
      <div class="section-col flex flex-col items-start w-full sm:w-1/2 print:w-1/2">
        <%- require('./layouts/skills.ejs')({skills}) %>
        <%- require('./layouts/selfProjects.ejs')({selfProjects}) %>
      </div>
    </div>
  </div>
  <%- require('./layouts/components/pcControls.ejs')({}) %>
</div>